/*
Theme Name:         Sage Starter Theme (Child)
Theme URI:          https://roots.io/sage/
Description:        Sage is a WordPress starter theme.
Version:            9.0.5
Author:             Roots
Author URI:         https://roots.io/
Text Domain:        sage

Template:           sage/resources

License:            MIT License
License URI:        http://opensource.org/licenses/MIT
*/
